
.menu-content-orders-content{
    overflow-x:auto;
    overflow-y:hidden;
    white-space:nowrap;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    height:36.2rem;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    position:relative;
}
.menu-content-orders-content::-webkit-scrollbar{
    display:none;
}
.menu-content-orders-content img{
    display:inline-block;
    height:35rem;
    width:34rem;
    border-radius:1.8rem;
    margin-right: 2rem;
}
.menu-content-orders-content img:last-child{
    margin-right: 0;
}



@media screen and (max-width:768px){
    .menu-content-orders-content img:first-child{
        margin-left: 0;
    }    
}
